
.wrapper-card {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.wrapper-card h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
}

.wrapper-card {
  padding: 2.4rem;
}