.input-wrapper { 
  display: flex;
  gap: .8rem;
}

.input-wrapper button {
  padding: 1rem;
  background-color: #7C3AED;
  color: #FFFFFF;
  border: 0;
  outline: none;
  border-radius: .3125rem;
  line-height: 0;
  transition: filter .2s;
  cursor: pointer;
}

.input-wrapper button:hover {
  filter: brightness(110%)
} 